<div class="cart-droplist hidden-xs">
   <div style="display: block;" class="cart-droplist__content arrow_box">
      <div class="cart-droplist__status"><i class="fa fa-check" aria-hidden="true"></i> <span class="cart-counter-list">2</span> Sản phẩm trong giỏ hàng</div>
      <div id="cart-sidebar" class="mini-list">
         <ul class="list-item-cart">
            <li class="item productid-7637417">
               <a class="product-image" href="" title=""><img alt="" src="" width="80"></a>
               <div class="detail-item">
                  <div class="product-details">
                     <a class="remove-item-cart fa fa-trash-o"></a>
                     <p class="product-name"> <a href="" title="">Điện thoại Sony Xperia X</a></p>
                  </div>
                  <div class="product-details-bottom">
                     <span class="price">9.990.000₫</span>
                     <div class="quantity-select"><input class="variantID" type="hidden" name="variantId" value="7637417"><button onclick="var result = document.getElementById('qty7637417'); var qty7637417 = result.value; if( !isNaN( qty7637417 ) &amp;&amp; qty7637417 > 1 ) result.value--;return false;" class="reduced items-count btn-minus" disabled="" type="button">–</button><input type="text" maxlength="2" min="0" class="input-text number-sidebar qty7637417" id="qty7637417" name="Lines" size="2" value="1"><button onclick="var result = document.getElementById('qty7637417'); var qty7637417 = result.value; if( !isNaN( qty7637417 )) result.value++;return false;" class="increase items-count btn-plus" type="button">+</button></div>
                  </div>
               </div>
            </li>
         </ul>
         <div class="top-subtotal">Tổng cộng: <span class="price total-price">28.780.000₫</span></div>
         <div class="actions"><button class="btn-checkout" type="button" aria-label="Đặt hàng" onclick="window.location.href='/checkout'"><span>Tiến hành đặt hàng</span></button></div>
      </div>
   </div>
</div>